html, body {
  margin: 0;
  padding: 0;
  display: flex;
}

body {
  background: linear-gradient(to bottom left, #222, black);
}

audio {
  position: absolute;
  top: 0;
  width: 100%;
}

input {
  position: absolute;
  top: 90%;
  left: 5%;
  color: grey;
  font-size: 1.1em;
    font-weight: 500;
    background-color: inherit;
    display: inline-block;
}
